<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CardCartOfficial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6FD0ED21F267AF400AA0C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6FD0EE91F267AF400AA0C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6FD0EF41F267AF400AA0C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
